<div id="divChat">
    <h1>Chat</h1>
    <form id="message-form">
      <input type="text" id="user-input" placeholder="Usuario" required>
      <input type="text" id="message-input" placeholder="Mensaje" required>
      <button type="submit">Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>