
<div class="container p-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 mx-auto">
      <div class="card bg-light">
        <div class="card-body">
          <h1 class="text-primary">Lista de Productos</h1>
          <ul>
            {{#each products}}
            <div class="divProducts">
              <h3>{{this.title}}</h3>
              <li><span class="text-success">Price:</span> {{this.price}}</li>
              <li><span class="text-info">Stock:</span> {{this.stock}}</li>
              <li><span class="text-warning">Category:</span> {{this.category}}</li>
            </div>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

