<h1>Recuperar contraseña</h1>

<div>
    <form action="http://localhost:3000/recovery" method="post">
        <input type="email" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <button type="submit">Recuperar contraseña</button>
    </form>
</div>
<br/>